<% tasks = get_tasks() %>

<div id="pageTitle">
	<h1>Tasks</h1>
</div>


<div id="toolbar">
    <%= link_to "New", :action => :new %>
    <%= link_to "Home", RhoConfig::start_path %>
</div>

<div id="content">
  <ul id = "list-content">
  	<li>I CHANGED THIS...</li>
  	<% tasks.each do |task|%>
  	  <li>#{task[name]}</li>
  	<% end %>
  </ul>
</div>