<div class="pageTitle">
  <h1>New <%= @tasks.title %></h1>
</div>

<div class="toolbar">
  <ul>
    <li>
      <a class="cancel" href="<%= url_for :action => :index %>">Cancel</a>
    </li>
  </ul>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @tasks.object %>"/>
    <ul>
      
          <li>
            Task Name
          </li>
          <li>
            <input type="textarea" name="task"/>
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Create"/>
  </form>
</div>