<div data-role="page" data-theme="b">
  <div data-role="header">
  	<h1 id="pageTitle">
  		Loading Tasks - Please wait...
  	</h1>
  </div>
  <div data-role="content">
     <a data-role="button" data-icon="delete" href="<%= url_for :controller => :Tasks, :action => :cancel_httpcall%>">Cancel</a>
  </div>
  <div align="center">
     <img src="/public/images/nqlogo.png"  width=auto/>
     <img src="/public/images/agiletasklogo.png" width=auto/>
  </div>
</div>