<div data-role="page" data-theme="a">
  <div data-role="header">
  	<h1 id="pageTitle">
  		Loading Tasks - Please wait...
  	</h1>
  </div>
  <div data-role="content">
     <a data-role="button" data-icon="delete" href="<%= url_for :controller => :Tasks, :action => :cancel_httpcall%>">Cancel</a>
    <img src="/public/images/setting.png" width="80%"/>
  </div>
</div>