<div id="pageTitle">
    <h1>AgileTask</h1>
</div>

<div id="toolbar">
        <%= link_to "Sync", :controller => :Settings, :action => :do_sync %>
    	<% if SyncEngine::logged_in > 0 %>
    	    <%= link_to "Logout", :controller => :Settings, :action => :logout %>
    	<% else %>
            <%= link_to "Login", :controller => :Settings, :action => :login %>
    	<% end %>
</div>


<div id="content">
    <table>
      <tr>
        <td class="recordLabel">Booyah!...</td>
      </tr>
    </table>
    <ul id = "list-content">
    	<li>I CHANGED THIS...</li>
    </ul>
</div>


<script type ="text/javascript">
$(document).ready(function(){
$.get("https://agiletask.me/tasks.json?api_key=ya8cOCyb1jGRU5VnWCke",
function(data) {
  var i = 0;
  for(i=0;i< data.task.length; i++)
  {
    $('#list-content').append("<li>"+data.task[i].name+"</li>")
  });
});
</script>


