<!DOCTYPE html> 
<head>
  <title>AgileTaskMobile</title>
   <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<link rel="stylesheet" href="/public/jquery.mobile-1.0b3.min.css" />
	
	<script type="text/javascript" src="/public/jquery-1.6.2.min.js"></script>
	<script type="text/javascript">
	$(document).bind("mobileinit", function(){
	  $.extend(  $.mobile , {
	    loadingMessage: false
	  });
	});
	</script>	<script type="text/javascript" src="/public/jquery.mobile-1.0b3.min.js"></script>

</head> 
<body>
    <%= @content %>
</body>

</html>
 