<div data-role="page" data-theme="b">
  <div data-role="header">
    <h1>Settings</h1>
  </div>
  <div data-role="content">
    <% if @msg %>
        <div style="color: red; text-align: center"><%= @msg %></div>
    <% end %>
    <% @user = ""%>
    <% User.find(:all).each do |user| %>
        <% @user = user  %>
    <% end %>
    <% if !@user.empty? %>
      <div class="itemLabel">
        <span class="title">User Login: </span>
      </div>
      <div class="itemValue">
        <span class="clientID"><%= @user.login %></span>
      </div>
      <a data-role= "button" href="<%= url_for :action => :logout %>">Logout</a>
    <% else %>
      <a data-role="button" href="<%= url_for :action => :login %>">Login</a>
    <% end %>
  </div>
  <div align="center">
    <img src="/public/images/nqlogo.png"/>
    <img src="/public/images/agiletasklogo.png" width=auto/>
  </div>
</div>