<div class="pageTitle">
  <h1>Settings</h1>
</div>

<div class="content">
  <ul>
    <% if @msg %>
        <li style="color: red; text-align: center"><%= @msg %></li>
    <% end %>
    <% @user = ""%>
    <% User.find(:all).each do |user| %>
        <% @user = user  %>
    <% end %>
    <% if !@user.empty? %>
     <li>
        <div class="itemLabel">
          <span class="title">User Login: </span>
        </div>
        <div class="itemValue">
          <span class="clientID"><%= @user.login %></span>
        </div>
      </li>
      <li><a href="<%= url_for :action => :logout %>">Logout</a></li>
    <% else %>
        <li><a href="<%= url_for :action => :login %>">Login</a></li>
    <% end %>
  </ul>
  <img src="/public/images/setting.png" />
</div>