<div data-role="page" data-theme="b">
  <div data-role="header">
    <h1>Validating User Credentials Please Wait...</h1>
  </div>
  <div data-role="content">
    <img src="/public/images/setting.png" width="80%"/>
  </div>
</div>