<div data-role="page" data-theme="b">
  <div data-role="header">
    <h1>Validating User Credentials Please Wait...</h1>
  </div>
  <div data-role="content">

  </div>
  <div align="center">
    <img src="/public/images/nqlogo.png"  width=auto/>
    <img src="/public/images/agiletasklogo.png" width=auto/>
  </div>
</div>