<div id="pageTitle">
	<h1><%= @user.api_key%></h1>
</div>

<div id="toolbar">
        <%= link_to "Back", :action => :index %>
        <%= link_to "Edit", :action => :edit, :id => @user.object %>
</div>


<div id="content">

    <table>
      
      <tr>
    	<td class="itemLabel">ApiKey</td>
        <td class="itemValue"><%= @user.api_key%></td>
      </tr>
      
    </table>
</div>